<!DOCTYPE html>
<html>
<head>
    
  
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="payment-container">


</div>


<div id="class_submit" style="">
                <h5 class="card-title">수강신청</h5>
                <div class="card" >
                    <div class="card-body apply">   
                      <div id="toggletest"></div>
                      <div id="applycount">
                        <h6>수강신청 현황</h6>
                        <span>14/15</span>
                      </div>
                  </div>

                  <div>
                    <p>총 결제금액</p>
                    <p style="float: right;">45,000원</p>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-lg btn-basic" style="float: right; margin-top: 15px;">결 제 하 기</button>
                </div>
        </div>
</body>
</html>